%h1= @project.title
%p= @project.link
%p= @project.description
%p= @project.test_type
%p= @project.cost
%p= @project.department

= link_to "Edit", edit_project_path(@project)
= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this Project?" }
= link_to "Home", root_path